@charset 'UTF-8';
* {
	margin:  0;
	padding: 0;
}
html {
	font-size: 625%;
}
img {
	display: block;
	max-width: 100%;
}
ul li {
	list-style: none;
}
body {
	font-size: .16rem;
}
header {
	width: 100%;
	max-width: 6.4rem;
	margin: 0 auto;
	height: 0.5rem;
	background-color: yellow;
	padding: 0.1rem 0;
}
header #QR-ico {
	display: inline-block;
	font-size: 0.2rem;
	margin-right: 0.05rem; 
	margin-left: 0.05rem;
}
header #search {
	background-color: white;
	min-width: 90%;
	display: inline-block;
	padding: 0;
	border-radius: 0.05rem;
}
header #search-ico {
	display: inline-block;
	background-color: white;
	padding: 0.09rem 0;
	padding-bottom: 0.045rem;
	margin-right: 0;
	border-radius: 0.05rem;
}
header input {
	border: none;
	height: 100%;
	width: 90%;
	outline: none;
}
header #menu-ico {
	display: inline-block;
	font-size: 0.2rem;
}
#myCarousel {
	max-width: 640px;
	margin: 0 auto;
	max-height: 300px;
	overflow: hidden;
}
