@charset 'UTF-8';
* {
	margin:  0;
	padding: 0;
}
html {
	font-size: 625%;
}
img {
	display: block;
	max-width: 100%;
}
ul li {
	list-style: none;
}
body {
	font-size: .16rem;
	margin-bottom: 0.8rem;
}
header {
	clear: both;
	width: 100%;
	max-width: 6.4rem;
	margin: 0 auto;
	height: 0.5rem;
	background-color: yellow;
	padding: 0.1rem 0;
}
header #QR-ico {
	display: inline-block;
	font-size: 0.2rem;
/* 	margin-right: 0.05rem; 
	margin-left: 0.05rem; */
	margin-right: 1.5%; 
	margin-left: 1.5%; 
	max-width: 5%;
}
header #search {
	background-color: white;
	width: 82%;
	display: inline-block;
	padding: 0;
	border-radius: 0.05rem;

}
header #search-ico {
	display: inline-block;
	background-color: white;
	padding: 0.09rem 0;
	padding-bottom: 0.045rem;
	margin-right: 0;
	border-radius: 0.05rem;
}
header input {
	border: none;
	height: 100%;
	width: 90%;
	outline: none;
}
header #menu-ico {
	display: inline-block;
	font-size: 0.2rem;
	margin-right: 1%; 
	margin-left: 1%;
	max-width: 5%
}
#myCarousel, #main, #recommend{
	max-width: 640px;
	margin: 0 auto;
	max-height: 300px;
	overflow: hidden;
}
#main ul li {
	list-style: none;
	float: left;
	max-height: 300px;
	max-width: 25%;
}
#recommend ul li {
	padding-left: 1.5em;
	list-style: none;
	float: left;
	max-width: 50%;
	max-height: 78px;
}
#recommend ul li .word {
	display: inline-block;
	padding-top: 0.3rem;
	float: left;
}
#recommend ul li .h {

	float: left;
	color: black;
	font-weight: bold;
}
#recommend ul li .d {
	float: left;
	color: #5C5353;
	font-size: 0.1rem;
}

#recommend ul li img {
	margin-left: 0.2rem;
	padding-top: 0.1rem;
	height: 0.8rem;
	min-width: 35%;
	width: 35%;
	float: left;
}


.bottom {
	height: 0.5rem;
	width: 100%;
	min-width: 3.2rem;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	background-color: yellow;
}
.bottom li {
	width: 20%;
	float: left;
	text-align: center;
	margin-top: 0.05rem;
}
.bottom li img {
	margin: 0 auto;
	position: relative;
	top: -0.3rem;
	min-height: 0.8rem;
	border: 2px solid;
}
.bottom .ico {
	color: #02FAB6;
	font-size: 0.2rem;
}